@import 'pallette.scss';

// Update bulma globals
$primary: $color3;
$link: $color4;
$info: $color1;
$dark: $color5;
$text: $color5;


body {
  background: white;
}

@import '~bulma/bulma.sass';


.about-me {
  img {
    padding: 20px;
  }
}

.contact-form {
  background: $color3;

}

.four-corners {
  background: $color2;
}

