@import '../styles/pallette';

// Update bulma globals
$primary: $color3;
$link: $color4;
$info: $color1;
$dark: $color5;
$text: $color5;


body {
  background: white;
}

@import '~bulma/bulma.sass';


